.icon-cashier-ABC {
    background-position: 0 0;
}
.icon-cashier-ARCU {
    background-position: 0 -36px;
}
.icon-cashier-AYCB {
    background-position: 0 -72px;
}
.icon-cashier-BANKWF {
    background-position: 0 -108px;
}
.icon-cashier-BGB {
    background-position: 0 -144px;
}
.icon-cashier-BHB {
    background-position: 0 -180px;
}
.icon-cashier-BJBANK {
    background-position: 0 -216px;
}
.icon-cashier-BOC {
    background-position: 0 -252px;
}
.icon-cashier-BOCD {
    background-position: 0 -288px;
}
.icon-cashier-BOCFCB {
    background-position: 0 -324px;
}
.icon-cashier-BOCY {
    background-position: 0 -360px;
}
.icon-cashier-BOD {
    background-position: 0 -396px;
}
.icon-cashier-BODD {
    background-position: 0 -432px;
}
.icon-cashier-BOHAIB {
    background-position: 0 -468px;
}
.icon-cashier-BOHB {
    background-position: 0 -504px;
}
.icon-cashier-BOHN {
    background-position: 0 -540px;
}
.icon-cashier-BOJZ {
    background-position: 0 -576px;
}
.icon-cashier-BOL {
    background-position: 0 -612px;
}
.icon-cashier-BOP {
    background-position: 0 -648px;
}
.icon-cashier-BOQH {
    background-position: 0 -684px;
}
.icon-cashier-BOQZ {
    background-position: 0 -720px;
}
.icon-cashier-BOSH {
    background-position: 0 -756px;
}
.icon-cashier-BOSZ {
    background-position: 0 -792px;
}
.icon-cashier-BOYK {
    background-position: 0 -828px;
}
.icon-cashier-BOZK {
    background-position: 0 -864px;
}
.icon-cashier-BSB {
    background-position: 0 -900px;
}
.icon-cashier-BZMD {
    background-position: 0 -936px;
}
.icon-cashier-CABANK {
    background-position: 0 -972px;
}
.icon-cashier-CCB {
    background-position: 0 -1008px;
}
.icon-cashier-CCQTGB {
    background-position: 0 -1044px;
}
.icon-cashier-CDCB {
    background-position: 0 -1080px;
}
.icon-cashier-CDRCB {
    background-position: 0 -1116px;
}
.icon-cashier-CEB {
    background-position: 0 -1152px;
}
.icon-cashier-CGNB {
    background-position: 0 -1188px;
}
.icon-cashier-CIB {
    background-position: 0 -1224px;
}
.icon-cashier-CITIC {
    background-position: 0 -1260px;
}
.icon-cashier-CMB {
    background-position: 0 -1296px;
}
.icon-cashier-CMBC {
    background-position: 0 -1332px;
}
.icon-cashier-COMM {
    background-position: 0 -1368px;
}
.icon-cashier-CQBANK {
    background-position: 0 -1404px;
}
.icon-cashier-CRCBANK {
    background-position: 0 -1440px;
}
.icon-cashier-CSRCB {
    background-position: 0 -1476px;
}
.icon-cashier-CZCB {
    background-position: 0 -1512px;
}
.icon-cashier-CZCCB {
    background-position: 0 -1548px;
}
.icon-cashier-CZRCB {
    background-position: 0 -1584px;
}
.icon-cashier-DAQINGB {
    background-position: 0 -1620px;
}
.icon-cashier-DBSCN {
    background-position: 0 -1656px;
}
.icon-cashier-DLB {
    background-position: 0 -1692px;
}
.icon-cashier-DRCBCL {
    background-position: 0 -1728px;
}
.icon-cashier-DYCB {
    background-position: 0 -1764px;
}
.icon-cashier-DYCCB {
    background-position: 0 -1800px;
}
.icon-cashier-DYLSCB {
    background-position: 0 -1836px;
}
.icon-cashier-DZBANK {
    background-position: 0 -1872px;
}
.icon-cashier-EGBANK {
    background-position: 0 -1908px;
}
.icon-cashier-FBBANK {
    background-position: 0 -1944px;
}
.icon-cashier-FDB {
    background-position: 0 -1980px;
}
.icon-cashier-FJHXBC {
    background-position: 0 -2016px;
}
.icon-cashier-FJNX {
    background-position: 0 -2052px;
}
.icon-cashier-FSCB {
    background-position: 0 -2088px;
}
.icon-cashier-FXCB {
    background-position: 0 -2124px;
}
.icon-cashier-GCB {
    background-position: 0 -2160px;
}
.icon-cashier-GDB {
    background-position: 0 -2196px;
}
.icon-cashier-GDRCC {
    background-position: 0 -2232px;
}
.icon-cashier-GHB {
    background-position: 0 -2268px;
}
.icon-cashier-GLBANK {
    background-position: 0 -2304px;
}
.icon-cashier-GRCB {
    background-position: 0 -2340px;
}
.icon-cashier-GSBANK {
    background-position: 0 -2376px;
}
.icon-cashier-GSRCU {
    background-position: 0 -2412px;
}
.icon-cashier-GXRCU {
    background-position: 0 -2448px;
}
.icon-cashier-GYCB {
    background-position: 0 -2484px;
}
.icon-cashier-GZB {
    background-position: 0 -2520px;
}
.icon-cashier-GZRCU {
    background-position: 0 -2556px;
}
.icon-cashier-H3CB {
    background-position: 0 -2592px;
}
.icon-cashier-HANABANK {
    background-position: 0 -2628px;
}
.icon-cashier-HBC {
    background-position: 0 -2664px;
}
.icon-cashier-HBRCU {
    background-position: 0 -2700px;
}
.icon-cashier-HDBANK {
    background-position: 0 -2736px;
}
.icon-cashier-HKB {
    background-position: 0 -2772px;
}
.icon-cashier-HLJRCU {
    background-position: 0 -2808px;
}
.icon-cashier-HNRCC {
    background-position: 0 -2844px;
}
.icon-cashier-HNRCU {
    background-position: 0 -2880px;
}
.icon-cashier-HRBANK {
    background-position: 0 -2916px;
}
.icon-cashier-HRXJB {
    background-position: 0 -2952px;
}
.icon-cashier-HSBANK {
    background-position: 0 -2988px;
}
.icon-cashier-HSBC {
    background-position: 0 -3024px;
}
.icon-cashier-HSBK {
    background-position: 0 -3060px;
}
.icon-cashier-HURCB {
    background-position: 0 -3096px;
}
.icon-cashier-HXBANK {
    background-position: 0 -3132px;
}
.icon-cashier-HZCB {
    background-position: 0 -3168px;
}
.icon-cashier-ICBC {
    background-position: 0 -3204px;
}
.icon-cashier-JHBANK {
    background-position: 0 -3240px;
}
.icon-cashier-JINCHB {
    background-position: 0 -3276px;
}
.icon-cashier-JJBANK {
    background-position: 0 -3312px;
}
.icon-cashier-JLBANK {
    background-position: 0 -3348px;
}
.icon-cashier-JLRCU {
    background-position: 0 -3384px;
}
.icon-cashier-JNBANK {
    background-position: 0 -3420px;
}
.icon-cashier-JRCB {
    background-position: 0 -3456px;
}
.icon-cashier-JSB {
    background-position: 0 -3492px;
}
.icon-cashier-JSBANK {
    background-position: 0 -3528px;
}
.icon-cashier-JSRCU {
    background-position: 0 -3564px;
}
.icon-cashier-JXBANK {
    background-position: 0 -3600px;
}
.icon-cashier-JXRCU {
    background-position: 0 -3636px;
}
.icon-cashier-JZBANK {
    background-position: 0 -3672px;
}
.icon-cashier-JZCBANK {
    background-position: 0 -3708px;
}
.icon-cashier-KLB {
    background-position: 0 -3744px;
}
.icon-cashier-KSRB {
    background-position: 0 -3780px;
}
.icon-cashier-LHBANK {
    background-position: 0 -3816px;
}
.icon-cashier-LNRCC {
    background-position: 0 -3852px;
}
.icon-cashier-LSBANK {
    background-position: 0 -3888px;
}
.icon-cashier-LSBC {
    background-position: 0 -3924px;
}
.icon-cashier-LSCCB {
    background-position: 0 -3960px;
}
.icon-cashier-LZCCB {
    background-position: 0 -3996px;
}
.icon-cashier-LZYH {
    background-position: 0 -4032px;
}
.icon-cashier-MTBANK {
    background-position: 0 -4068px;
}
.icon-cashier-NBBANK {
    background-position: 0 -4104px;
}
.icon-cashier-NBCBANK {
    background-position: 0 -4140px;
}
.icon-cashier-NBYZ {
    background-position: 0 -4176px;
}
.icon-cashier-NCB {
    background-position: 0 -4212px;
}
.icon-cashier-NDHB {
    background-position: 0 -4248px;
}
.icon-cashier-NHB {
    background-position: 0 -4284px;
}
.icon-cashier-NJCB {
    background-position: 0 -4320px;
}
.icon-cashier-NMGNXS {
    background-position: 0 -4356px;
}
.icon-cashier-NXRCU {
    background-position: 0 -4392px;
}
.icon-cashier-NYBANK {
    background-position: 0 -4428px;
}
.icon-cashier-NYCB {
    background-position: 0 -4464px;
}
.icon-cashier-ORBANK {
    background-position: 0 -4500px;
}
.icon-cashier-PSBC {
    background-position: 0 -4536px;
}
.icon-cashier-PZHCCB {
    background-position: 0 -4572px;
}
.icon-cashier-QDCCB {
    background-position: 0 -4608px;
}
.icon-cashier-QJCCB {
    background-position: 0 -4644px;
}
.icon-cashier-QLBANK {
    background-position: 0 -4680px;
}
.icon-cashier-RBOZ {
    background-position: 0 -4716px;
}
.icon-cashier-RXCB {
    background-position: 0 -4752px;
}
.icon-cashier-RZB {
    background-position: 0 -4788px;
}
.icon-cashier-SCB {
    background-position: 0 -4824px;
}
.icon-cashier-SCBBANK {
    background-position: 0 -4860px;
}
.icon-cashier-SCCB {
    background-position: 0 -4896px;
}
.icon-cashier-SCRCU {
    background-position: 0 -4932px;
}
.icon-cashier-SDEB {
    background-position: 0 -4968px;
}
.icon-cashier-SDRCU {
    background-position: 0 -5004px;
}
.icon-cashier-SHBANK {
    background-position: 0 -5040px;
}
.icon-cashier-SHRCB {
    background-position: 0 -5076px;
}
.icon-cashier-SJBANK {
    background-position: 0 -5112px;
}
.icon-cashier-SNCCB {
    background-position: 0 -5148px;
}
.icon-cashier-SPABANK {
    background-position: 0 -5184px;
}
.icon-cashier-SPDB {
    background-position: 0 -5220px;
}
.icon-cashier-SRBANK {
    background-position: 0 -5256px;
}
.icon-cashier-SRCB {
    background-position: 0 -5292px;
}
.icon-cashier-SXCB {
    background-position: 0 -5328px;
}
.icon-cashier-SXRCCU {
    background-position: 0 -5364px;
}
.icon-cashier-SXRCU {
    background-position: 0 -5400px;
}
.icon-cashier-SZSBK {
    background-position: 0 -5436px;
}
.icon-cashier-TACCB {
    background-position: 0 -5472px;
}
.icon-cashier-TCCB {
    background-position: 0 -5508px;
}
.icon-cashier-TCRCB {
    background-position: 0 -5544px;
}
.icon-cashier-TJBHB {
    background-position: 0 -5580px;
}
.icon-cashier-TLBANK {
    background-position: 0 -5616px;
}
.icon-cashier-TRCB {
    background-position: 0 -5652px;
}
.icon-cashier-TSBANK {
    background-position: 0 -5688px;
}
.icon-cashier-TZCB {
    background-position: 0 -5724px;
}
.icon-cashier-UBCHN {
    background-position: 0 -5760px;
}
.icon-cashier-WHBANK {
    background-position: 0 -5796px;
}
.icon-cashier-WHCCB {
    background-position: 0 -5832px;
}
.icon-cashier-WHRCB {
    background-position: 0 -5868px;
}
.icon-cashier-WJRCB {
    background-position: 0 -5904px;
}
.icon-cashier-WOORI {
    background-position: 0 -5940px;
}
.icon-cashier-WRCB {
    background-position: 0 -5976px;
}
.icon-cashier-WZCB {
    background-position: 0 -6012px;
}
.icon-cashier-XABANK {
    background-position: 0 -6048px;
}
.icon-cashier-XCYH {
    background-position: 0 -6084px;
}
.icon-cashier-XJRCU {
    background-position: 0 -6120px;
}
.icon-cashier-XLBANK {
    background-position: 0 -6156px;
}
.icon-cashier-XMBANK {
    background-position: 0 -6192px;
}
.icon-cashier-XTB {
    background-position: 0 -6228px;
}
.icon-cashier-XXBANK {
    background-position: 0 -6264px;
}
.icon-cashier-XYBANK {
    background-position: 0 -6300px;
}
.icon-cashier-XYFRCB {
    background-position: 0 -6336px;
}
.icon-cashier-YBCCB {
    background-position: 0 -6372px;
}
.icon-cashier-YNRCC {
    background-position: 0 -6408px;
}
.icon-cashier-YQCCB {
    background-position: 0 -6444px;
}
.icon-cashier-YXCCB {
    background-position: 0 -6480px;
}
.icon-cashier-YZBANK {
    background-position: 0 -6516px;
}
.icon-cashier-ZBCB {
    background-position: 0 -6552px;
}
.icon-cashier-ZGCCB {
    background-position: 0 -6588px;
}
.icon-cashier-ZJKCCB {
    background-position: 0 -6624px;
}
.icon-cashier-ZJNX {
    background-position: 0 -6660px;
}
.icon-cashier-ZJTLCB {
    background-position: 0 -6696px;
}
.icon-cashier-ZRCBANK {
    background-position: 0 -6732px;
}
.icon-cashier-ZYB {
    background-position: 0 -6768px;
}
.icon-cashier-ZYCBANK {
    background-position: 0 -6804px;
}
.icon-cashier-ZZBANK {
    background-position: 0 -6840px;
}
.icon-cashier-ZZYH {
    background-position: 0 -6876px;
}
.icon-cashier-CSCB {
    background-position: 0 -6912px;
}
.icon-cashier-ABC, .icon-cashier-ARCU, .icon-cashier-AYCB, .icon-cashier-BANKWF, .icon-cashier-BGB, .icon-cashier-BHB, .icon-cashier-BJBANK, .icon-cashier-BOC, .icon-cashier-BOCD, .icon-cashier-BOCFCB, .icon-cashier-BOCY, .icon-cashier-BOD, .icon-cashier-BODD, .icon-cashier-BOHAIB, .icon-cashier-BOHB, .icon-cashier-BOHN, .icon-cashier-BOJZ, .icon-cashier-BOL, .icon-cashier-BOP, .icon-cashier-BOQH, .icon-cashier-BOQZ, .icon-cashier-BOSH, .icon-cashier-BOSZ, .icon-cashier-BOYK, .icon-cashier-BOZK, .icon-cashier-BSB, .icon-cashier-BZMD, .icon-cashier-CABANK, .icon-cashier-CCB, .icon-cashier-CCQTGB, .icon-cashier-CDCB, .icon-cashier-CDRCB, .icon-cashier-CEB, .icon-cashier-CGNB, .icon-cashier-CIB, .icon-cashier-CITIC, .icon-cashier-CMB, .icon-cashier-CMBC, .icon-cashier-COMM, .icon-cashier-CQBANK, .icon-cashier-CRCBANK, .icon-cashier-CSRCB, .icon-cashier-CZCB, .icon-cashier-CZCCB, .icon-cashier-CZRCB, .icon-cashier-DAQINGB, .icon-cashier-DBSCN, .icon-cashier-DLB, .icon-cashier-DRCBCL, .icon-cashier-DYCB, .icon-cashier-DYCCB, .icon-cashier-DYLSCB, .icon-cashier-DZBANK, .icon-cashier-EGBANK, .icon-cashier-FBBANK, .icon-cashier-FDB, .icon-cashier-FJHXBC, .icon-cashier-FJNX, .icon-cashier-FSCB, .icon-cashier-FXCB, .icon-cashier-GCB, .icon-cashier-GDB, .icon-cashier-GDRCC, .icon-cashier-GHB, .icon-cashier-GLBANK, .icon-cashier-GRCB, .icon-cashier-GSBANK, .icon-cashier-GSRCU, .icon-cashier-GXRCU, .icon-cashier-GYCB, .icon-cashier-GZB, .icon-cashier-GZRCU, .icon-cashier-H3CB, .icon-cashier-HANABANK, .icon-cashier-HBC, .icon-cashier-HBRCU, .icon-cashier-HDBANK, .icon-cashier-HKB, .icon-cashier-HLJRCU, .icon-cashier-HNRCC, .icon-cashier-HNRCU, .icon-cashier-HRBANK, .icon-cashier-HRXJB, .icon-cashier-HSBANK, .icon-cashier-HSBC, .icon-cashier-HSBK, .icon-cashier-HURCB, .icon-cashier-HXBANK, .icon-cashier-HZCB, .icon-cashier-ICBC, .icon-cashier-JHBANK, .icon-cashier-JINCHB, .icon-cashier-JJBANK, .icon-cashier-JLBANK, .icon-cashier-JLRCU, .icon-cashier-JNBANK, .icon-cashier-JRCB, .icon-cashier-JSB, .icon-cashier-JSBANK, .icon-cashier-JSRCU, .icon-cashier-JXBANK, .icon-cashier-JXRCU, .icon-cashier-JZBANK, .icon-cashier-JZCBANK, .icon-cashier-KLB, .icon-cashier-KSRB, .icon-cashier-LHBANK, .icon-cashier-LNRCC, .icon-cashier-LSBANK, .icon-cashier-LSBC, .icon-cashier-LSCCB, .icon-cashier-LZCCB, .icon-cashier-LZYH, .icon-cashier-MTBANK, .icon-cashier-NBBANK, .icon-cashier-NBCBANK, .icon-cashier-NBYZ, .icon-cashier-NCB, .icon-cashier-NDHB, .icon-cashier-NHB, .icon-cashier-NJCB, .icon-cashier-NMGNXS, .icon-cashier-NXRCU, .icon-cashier-NYBANK, .icon-cashier-NYCB, .icon-cashier-ORBANK, .icon-cashier-PSBC, .icon-cashier-PZHCCB, .icon-cashier-QDCCB, .icon-cashier-QJCCB, .icon-cashier-QLBANK, .icon-cashier-RBOZ, .icon-cashier-RXCB, .icon-cashier-RZB, .icon-cashier-SCB, .icon-cashier-SCBBANK, .icon-cashier-SCCB, .icon-cashier-SCRCU, .icon-cashier-SDEB, .icon-cashier-SDRCU, .icon-cashier-SHBANK, .icon-cashier-SHRCB, .icon-cashier-SJBANK, .icon-cashier-SNCCB, .icon-cashier-SPABANK, .icon-cashier-SPDB, .icon-cashier-SRBANK, .icon-cashier-SRCB, .icon-cashier-SXCB, .icon-cashier-SXRCCU, .icon-cashier-SXRCU, .icon-cashier-SZSBK, .icon-cashier-TACCB, .icon-cashier-TCCB, .icon-cashier-TCRCB, .icon-cashier-TJBHB, .icon-cashier-TLBANK, .icon-cashier-TRCB, .icon-cashier-TSBANK, .icon-cashier-TZCB, .icon-cashier-UBCHN, .icon-cashier-WHBANK, .icon-cashier-WHCCB, .icon-cashier-WHRCB, .icon-cashier-WJRCB, .icon-cashier-WOORI, .icon-cashier-WRCB, .icon-cashier-WZCB, .icon-cashier-XABANK, .icon-cashier-XCYH, .icon-cashier-XJRCU, .icon-cashier-XLBANK, .icon-cashier-XMBANK, .icon-cashier-XTB, .icon-cashier-XXBANK, .icon-cashier-XYBANK, .icon-cashier-XYFRCB, .icon-cashier-YBCCB, .icon-cashier-YNRCC, .icon-cashier-YQCCB, .icon-cashier-YXCCB, .icon-cashier-YZBANK, .icon-cashier-ZBCB, .icon-cashier-ZGCCB, .icon-cashier-ZJKCCB, .icon-cashier-ZJNX, .icon-cashier-ZJTLCB, .icon-cashier-ZRCBANK, .icon-cashier-ZYB, .icon-cashier-ZYCBANK, .icon-cashier-ZZBANK, .icon-cashier-ZZYH,.icon-cashier-CSCB {
    background-image: url(../images/bank_list.jpg);
}