@charset 'utf-8';
#content{
	background:url(../images/main_bg.jpg) top center repeat-x;
	height:1170px;
}
/*content1*/
.content1{
	height:890px;
	overflow:hidden;
}
/*box*/
.main_box{
	margin:80px auto auto auto;
	width:780px;
	background:#FFF;
}
.main_box_title{
	color:#fff;
	font-size:20px;
	margin-bottom:10px;
}
.main_box_title em{
	font-size:14px;
	color:#999;
}
.main_box_content{
	width:600px;
	min-height:500px;
	background:#FFFFFF;
	position:relative;
	padding:15px 50px 0 50px;
}
.main_box_tip{
	padding:25px;
	text-align: center;
	color:#31A7FF;
	font-size: 18px;
	border-bottom: 1px solid #E0E0E0;
}
.triangle_left{
	position:absolute;
	top:85px;
	left:0;
	width:0;
	height:0;
    border-top: 25px solid #567000;
    border-left: 20px solid transparent;
}
.triangle_right{
	position:absolute;
	top:85px;
	right:0;
	width:0;
	height:0;
    border-top: 25px solid #567000;
    border-right: 20px solid transparent;
}
.main_box_tip p{
	color:#fff;
	font-size:14px;
	width:580px;
	margin:10px 70px;
	line-height:1.8;
}
/*content2*/
.content2{
	height:280px;
	background:#237fdb;
}
.main_box_content .row{
	min-height:40px;
	margin-bottom:30px;
	position:relative;
}


.row_left{
	line-height:40px;
	font-size:16px;
	float:left;
	width:100px;
}
.row_right{
	width:490px;
	float:left;
	
}
.imitate_select{
	width:495px;
	height:100%;
	border:1px solid #c4c4c4;
	background:#fff;
	height:40px;
	line-height:40px;
	font-size:13px;
	font-weight:100;
	padding-left:5px;
}
.text_input{
	width:494px;
	height:38px;
	border:1px solid #c4c4c4;
	vertical-align:middle;
	padding-left:5px;
}
.bank_list_box{
	padding:18px 18px 6px 18px;
}
.bank_list{
	width:600px;
}
.bank_list_box{
	margin-bottom:20px;
}
.bank_list_box li{
	width:146px;
	border:1px solid #ddd;
	float:left;
	margin: 0 45px 25px 100px;
	cursor:pointer;
}
.bank_list_box li:hover{
	border:1px solid #fab27b;
}
.bank_list_box li.slt {
	border:1px solid #fab27b;
}
.chl-icon{
	background-repeat:no-repeat;
	width:126px;
	height:30px;
	display:inline-block;
}
.icon{
	display:inline-block;
	height:25px;
	background:url(../images/icons.png) no-repeat;
	vertical-align:bottom;
}
.title_icon{
	background-position:0 -58px;
	width:17px;
	margin:0 10px;
}
.bank_list_more i{
	background:url(../images/icons.png) no-repeat;
	background-position:30px -85px;
	width:50px;
	height:30px;
}
.bank_list_more span{
	display:inline-block;
	vertical-align:top;
	font-style:normal;
	line-height:34px;
	font-weight:bolder;
	font-size:14px;
	color:#666;
}
.imitate_select_icon{
    background-position: -80px -62px;
    float: right;
    margin-top: 15px;
    width: 17px;
	margin-right:5px;
}
.imitate_select .chl-icon{
	border:1px solid #fab27b;
	margin-top:4px;
	width:146px;
}
.query_pwd{
	position:relative;
}
.query_pwd_icon{
    background-position: -35px -58px;
    position: absolute;
    right: 7px;
    top: 10px;
    width: 18px;
	cursor:pointer;
}
.query_pwd_box{
	position:absolute;
	width:370px;
	height:180px;
	right:8px;
	top:41px;
	background:#d2e7f1;
	border:1px solid #41b5ed;
	padding-left:25px;
	z-index:2;
}
.query_pwd_box dl{
	margin-top:5px;
}
.query_pwd_box dt{
	display:list-item;
	list-style:square;
	color:#0ca6f0;
}
.query_pwd_box dd{
	color:#666;
}
.identify_code{
	width:288px;
}
.identify_code_img{
	width:94px;
	height:40px;
	border:1px solid #c4c4c4;
	vertical-align:middle;
}
.change_identiy_code{
	text-decoration:underline;
}
.checkbox.agreement{
	margin-left: 90px;
	
}
.submit{
	width:590px;
	height:55px;
	background:#0ca6f0;
	color:#fff;
	font-size:20px;
	margin-left: 50px;
}
.submit:hover,.submit:focus{
	color:#fff;
}
.query_count{
	font-size:16px;
	text-align:center;
}
.i_box{
	float:left;
	width:33%;
	height:100%;
}
.i_box dl{
	display:inline-block;
	width:165px;
	height:100%;
}
.i_box p{
	background:url(../images/icons.png) no-repeat;
	margin:45px 45px 25px 45px;
	width:75px;
	height:75px;
}
.i_box h2{
	color:#fff;
	font-size:20px;
	text-align:center;
}
.i_box dd{
	font-size:14px;
	color:#b0deff;
	margin-top:20px;
	text-align:left;
}
.i_box_1 p{
	background-position:-177px -125px;
}
.i_box_2 p{
	background-position:-90px -125px;
}
.i_box_3 p{
	background-position:0px -125px;
}
.icon_success{
	background-position: -125px 0;
    height: 40px;
    width: 40px;
	margin-right:10px;
}
.icon_fail{
	background-position: -175px 0;
    height: 40px;
    width: 40px;
	margin-right:10px;
}
.bank_list_hide{
	display:none;
}
/*统一模拟输入框placeholder和正常placeholder字体一致，避免隐藏内容被选中*/
.imitate_select_content{
	position:relative;
}
.unselect_cover{
	position:absolute;
	display:inline-block;
	width:500px;
	height:40px;
	opacity:0;
	filter:Alpha(opacity=0);
}
.error_container{
	background: #fde5e5 none repeat scroll 0 0;
	border: 1px solid #e96d6d;
	color: #e96d6d;
	height: 28px;
	left: 140px;
	line-height: 28px;
	position: absolute;
	top: 192px;
	width: 500px;
	text-indent:2em;
	display:none;
}


/*新加样式*/
.tab-wrap{
	text-align: left;
	color:#505050;
	font-size: 18px;
	border-bottom: 1px solid #E0E0E0;
}
.tab-wrap .tab {
	text-align: center;
	padding:25px 0;
	display: inline-block;
	font-weight: bold;
	width: 48%;
	border-bottom: 5px solid transparent;
}
.tab-wrap .cur {
	color: #31A7FF;
	border-color: #02C0FF;
}
.query_tips{
	color:#FF5749;
	padding:25px 100px 25px 70px;
	font-size: 14px;
}
.slted-bank {
	width:126px;
	height:30px;
	border:1px solid #E5E5E5;
	display:inline-block;
	margin-right: 20px;
	vertical-align: middle;
}
.link-black {
	color:#000000;
	font-size: 14px;
}
.none {
	display:none;
}
.layer {
	position:fixed;
	width:100%;
	height:100%;
	background:#000;
	background:rgba(0,0,0,.4);
	filter:Alpha(opacity=40);
	z-index: 998;
}
.msg-conform-dialog {
	position: fixed;
	width: 580px;
	min-height: 380px;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -275px;
	background: #fff;
	-moz-box-shadow: 0px 30px 50px #555;
	-webkit-box-shadow: 0px 30px 50px #555;
	box-shadow: 0px 30px 50px #555;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 30, direction = 180, color = '#555');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 30, Direction = 180, Color = '#555')";
	z-index: 999;
}
.conform-title {
	height:58px;
	line-height: 58px;
	border-bottom: 1px solid #E0E0E0;
	color:#31A7FF;
	font-size: 18px;
	position:relative;
	text-align: center;
}
.conform-title .conform-close {
	position:absolute;
	width:30px;
	height:30px;
	top:14px;
	right:10px;
	background:url(../images/close.png) center center no-repeat;
}
.conform-form {
	padding:10px 20px 20px 50px;
}
.conform-form .row {
	margin-bottom: 15px;
	height:30px;
}
.conform-form .cf-label {
	width:120px;
	line-height: 30px;
	text-align: right;
	display:inline-block;
	font-size: 14px;
}
.conform-form .cf-cnt {
	display:inline-block;
	width:300px;
	margin-left: 10px;
	text-align: left;
}
.conform-form .cf-cnt .ipt{
	border:1px solid #E5E5E5;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 15px;
	width:250px;
	display:inline-block;
}
.conform-form .cf-cnt .ipt1 {
	width:120px;
}
.conform-form .cf-cnt .code-img {
	display:inline-block;
	width:125px;
	height:35px;
	vertical-align: top;
}
.code-img img{
	width:100%;
}
.conform-btn {
	width:370px;
	height:45px;
	padding: 6px 12px;
	margin-bottom: 0;
	margin-top: 20px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}


